@import "./Mixins";
main{
  @include main-box(100%, 0px);
}
article{
  // @include border;
  position: relative;
}
section{
  // @include border
}

.box{
  // @include border;
}

.home{}


@keyframes palpito {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
  
}
// @import "./responsive/Home";

